body{
    margin:0;
    font-family:sans-serif;
    background:#1e293b;
    color:white;
}

header{
    background:#0f172a;
    padding:16px;
    text-align:center;
}

h1{
    margin:0;
}

main{
    padding:16px;
}

#searchInput{
    width:100%;
    padding:12px;
    font-size:16px;
    border-radius:8px;
    border:none;
}

.card{
    background:#334155;
    margin-top:12px;
    padding:12px;
    border-radius:10px;
}

.tabs{
display:flex;
gap:8px;
margin-bottom:12px;
}

.tab{
flex:1;
padding:12px;
background:#334155;
color:white;
border:none;
border-radius:8px;
}

.tab.active{
background:#ea580c;
}

select{
width:100%;
padding:12px;
margin-top:10px;
border-radius:8px;
border:none;
}

.effect-grid{
display:grid;
grid-template-columns:repeat(2,1fr);
gap:10px;
margin-top:15px;
}

.effect-btn{
background:#334155;
color:white;
border:none;
border-radius:8px;
padding:12px;
font-size:15px;
cursor:pointer;
}

.effect-btn.active{
background:#ea580c;
}
