body{
    margin:0;
    font-family:sans-serif;
    background:#1e293b;
    color:white;
}

header{
    background:#0f172a;
    padding:16px;
    text-align:center;
}

h1{
    margin:0;
}

main{
    padding:16px;
}

#searchInput{
    width:100%;
    padding:12px;
    font-size:16px;
    border-radius:8px;
    border:none;
}

.card{
    background:#334155;
    margin-top:12px;
    padding:8px 12px;
    margin-bottom:8px;
    min-height:auto;
    border-radius:10px;

    box-shadow:
        0 2px 8px rgba(0,0,0,0.25);

    transition:0.2s;
}

.tabs{
display:flex;
gap:8px;
margin-bottom:12px;
}

.tab{
flex:1;
padding:12px;
background:#334155;
color:white;
border:none;
border-radius:8px;
}

.tab.active{
background:#ea580c;
}

select{
width:100%;
padding:12px;
margin-top:10px;
border-radius:8px;
border:none;
}

.effect-grid{
display:grid;
grid-template-columns:repeat(2,1fr);
gap:10px;
margin-top:15px;
}

.effect-btn{
    background:#475569;
    border:1px solid #64748b;
}

.effect-btn.active{
    background:#f59e0b;
    color:black;
    font-weight:bold;
}

.card.common{
    border-left:12px solid #808080;
}

.card.uncommon{
    border-left:12px solid #22c55e;
}

.card.rare{
    border-left:12px solid #3b82f6;
}

.card.legendary{
    border-left:12px solid #d4af37;
}

.card.immortal{
    border-left:12px solid #ef4444;
}

.card.arcana{
    border-left:12px solid #a855f7;
}

.card.beyond{
    border-left:12px solid #db2777;
}

.item-header{
    display:flex;
    align-items:center;
    gap:12px;
}

.item-icon{
    width:48px;
    height:48px;
    border-radius:8px;
}
.rarity-badge{
    display:inline-block;
    padding:4px 10px;
    border-radius:999px;
    font-size:14px;
    font-weight:bold;
    color:white;
}
.rarity-badge.common{
    background:#808080;
}

.rarity-badge.uncommon{
    background:#22c55e;
}

.rarity-badge.rare{
    background:#3b82f6;
}

.rarity-badge.legendary{
    background:#d4af37;
    color:black;
}

.rarity-badge.immortal{
    background:#ef4444;
}

.rarity-badge.arcana{
    background:#a855f7;
}

.rarity-badge.beyond{
    background:#db2777;
}
.card h3{
    margin:0;
    font-size:20px;
    font-weight:700;
}
.card:hover{
    transform:translateY(-2px);
}
.title-area{
    flex:1;
}

.title-row{
    display:flex;
    align-items:center;
    gap:10px;
    margin-bottom:6px;
}

.title-row h3{
    margin:0;
}

.item-effect{
    margin:0;
    color:#e2e8f0;
    font-size:14px;
}
